name: Downstream Pipeline

on:
  workflow_call:
  # workflow_run:
    # workflows: ["Main Pipeline"]
    # types:
    #   - completed

jobs:
  download_artifact:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: checkout to artifacts
      run: | 
        git pull origin artifacts-store
        git checkout artifacts-store

    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: hello-0.0.1-SNAPSHOT.jar
        path: ./target
    - name: Set Up Git
      run: |
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"

    - name: Commit and Push Artifacts
      run: |
        git add ./target
        git commit -m "Add artifacts"
        git push origin artifacts-store


    

    

      

