name: Main Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set Up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Build and Test
      run: |
        mvn clean package 

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: hello-0.0.1-SNAPSHOT.jar
        path: ./target

 
